* {
	margin: 0;
	padding: 0;
	background-color: #2e3138;
	font-family: "Instrument Serif", serif;
}
.topline {
	background-color: #eb008b;
	padding: 3px;
}
.navbar {
	background-color: #2e3138;
	display: flex;
	padding: 10px;
	align-items: center;
	justify-content: center;
}
.photo {
	width: 100%;
	height: 100%;
}
.cardarea {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.ProductsItems {
	background-color: #eb008b;
	color: #2e3138;
	font-size: 6vw;
	width: 45vw;
	height: 45vw;
	margin: 1vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
.number {
	background-color: #eb008b;
	font-weight: bold;
}
.ProductsItems:hover {
	background-color: #2e3138;
	color: #eb008b;
}

.kd {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: transparent;
}
.cursor {
	width: 24px;
	height: 24px;
	fill: transparent;
	stroke: #eb008b;
	stroke-width: 2;
	position: absolute;
	right: 0;
	cursor: pointer;
	padding: 12px;
}

@media screen and (min-width: 600px) {
	.ProductsItems {
		width: 20vw;
		height: 20vw;
		font-size: 2vw;
	}
}
